node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.*.local
README.md
.vscode
.idea
.DS_Store
.env.example
logs
*.log
.dockerignore
Dockerfile
docker-compose.yml
.gitattributes
coverage
.eslintignore
.prettierignore
